<b>{{ 'NOTIFICATIONS_HELLO_PHRASE'|trans({}, 'notifications') }} {{ username }}!</b>

{{ 'NOTIFICATIONS_ACTIVATION_THANKS'|trans({}, 'notifications') }}
{{ 'NOTIFICATIONS_ACTIVATION_ACTIVATE'|trans({}, 'notifications') }}:

{% set url = app.request.scheme ~ '://' ~ app.request.host ~ '/#!/activate/' ~ activation_key %}
<a href="{{ url }}">{{ url }}</a>
