{% extends 'AppBundle:Email:email_layout.html.twig' %}

{% block username %}{{ username }}{% endblock %}

{% block content %}
    <p>{{ 'NOTIFICATIONS_ACTIVATION_THANKS'|trans({}, 'notifications', locale) }}</p>
    <p>{{ 'NOTIFICATIONS_ACTIVATION_ACTIVATE'|trans({}, 'notifications', locale) }}</p>

    {% set url = app.request.scheme ~ '://' ~ app.request.host ~ '/#/activate/' ~ username ~ '/' ~ activation_key %}
    <p id="n-ac-l-p"><a href="{{ url }}">{{ 'NOTIFICATIONS_ACTIVATION_HTML_LINK'|trans({}, 'notifications', locale) }}</a></p>
{% endblock %}
